
@import '../../assets/scss/style.scss';
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: #ffff;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

}
.nav__header-one {
  height: 32px;
  width: 100%;
  background-color: #1435C3;
  color: #fff;
  padding: $p0-4 $p-6;

    .header__one-list {

      @include flex(space-between,center);

    }
}
.one-list_item {
    list-style-type: none;
    @include flex(center,center);
    gap: 1.75rem;
    li {
      a {
        text-decoration: none;
        font-size: 12px;

      }
    }
}
.one-list-auth {
  text-decoration: none;
  font-size: 12px;
}
.nav_header-two {
  padding: $p0-4 $p-6;

}
// header_two4
.header-two_menu {
  @include flex(space-between,center);
  gap: 3rem;
}
.two_menu-list ul {
  @include flex(space-between,center);
  list-style-type: none;

  gap: 2rem;
}

.flex-item_center {
  @include flex(space-between,center);
}
.bx-cart {
  font-size: 24px;
}
.btn-logout {
  border: none;
  margin-left: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #1435C3;
  color: #fff;

}
.link_hover {
  /* you can change these variables to control the border */
  --border-color: #1435C3;
  --border-width: 3px;
  --bottom-distance: 0px; /* you can increase this */

  color: #000;
  display: inline-block;
  text-transform: inherit;
  background-image: linear-gradient(var(--border-color), var(--border-color));
  background-size: 0% var(--border-width);
  background-repeat: no-repeat;
  transition: background-size 0.3s;
  margin: 5px 0;
}

.fromCenter {
  background-position: 50% calc(100% - var(--bottom-distance));
}

.fromRight {
  background-position: 100% calc(100% - var(--bottom-distance));
}

.fromLeft {
  background-position: 0 calc(100% - var(--bottom-distance))
}

.link_hover:hover {
  background-size: 100% var(--border-width);
  cursor: pointer;
}
