<footer>
    <div class="footer__support">
      <h4>VỀ HNH Shop</h4>
      <ul class="footer__support-list">
        <li class="footer__list">
          <p href="" class="support__list-link">
            Công ty TNHH HNH. GPKD số 12345789 cấp bởi Sở kế hoạch và đầu tư TP.HCM. Địa chỉ văn phòng: 90 Huỳnh Văn Một, Phường Hiệp Tân, Quận Tân Phú, Thành phố Hồ Chí Minh.
            Giới ThiệuTuyển DụngHợp tác NCCTrờ thành cộng tác viên
          </p>
      </li>

      </ul>
    </div>
    <div class="footer__support">
        <h4>HỖ TRỢ KHÁCH HÀNG</h4>
        <ul class="footer__support-list">
          <li class="footer__list">
            <a href="" class="support__list-link">
              Chính sách thanh toán
            </a>
        </li>
        <li class="footer__list">
            <a href="" class="support__list-link">
              Chọn Size Giày Đá Bóng
            </a>
        </li>
        <li class="footer__list">
            <a href="" class="support__list-link">
              Giao Hàng Tận Nơi
            </a>
        </li>
        <li class="footer__list">
            <a href="" class="support__list-link">
              Bảo Hành & Đổi Trả
            </a>
        </li>
        </ul>
      </div>
      <div class="footer__support">
        <h4>CHÍNH SÁCH CHUNG</h4>
        <ul class="footer__support-list">
          <li class="footer__list">
            <a href="" class="support__list-link">
              Chính sách quy định chung
            </a>
        </li>
        <li class="footer__list">
            <a href="" class="support__list-link">
              Áo Bóng Đá Theo Yêu Cầu
            </a>
        </li>
        <li class="footer__list">
            <a href="" class="support__list-link">
              Chính Sách Bảo Mật
            </a>
        </li>
        <li class="footer__list">
            <a href="" class="support__list-link">
                Chăm sóc bảo hành
            </a>
        </li>
        </ul>
      </div>
      <div class="footer__support ">
        <h4 class="">Đăng ký nhận tin nhắn</h4>
        <ul class="footer__support-list">

        <li class="footer__list">
            <input type="text" placeholder="Email của bạn">
        </li>
        <li class="footer__list">
            <button>Đăng ký</button>
        </li>
        <li class="footer__list flex">
            <a href="" class="support__list-link">
               <img src="../assets/img/logofooter/icons8-facebook.svg" alt="">
            </a>
            <a href="" class="support__list-link">
               <img src="../assets/img/logofooter/icons8-zalo.svg" alt="">
            </a>
            <a href="" class="support__list-link">
               <img src="../assets/img/logofooter/icons8-github.svg" alt="">
            </a>
        </li>
        </ul>
      </div>
  </footer>
