<div class="flex">
  <app-sidebar-admin></app-sidebar-admin>
<div class="form">
  <h4>Tạo Giới thiệu</h4>
  <form [formGroup]="BlogFormCreate" action="" method="post" (ngSubmit)="OnCreate()">
      <label for="" >Tên Công ty</label>
      <input class="form-control"  type="text"  formControlName="name" >
      <label for="" >Nội dung</label>

      <editor formControlName="content"
[init]="{
  height: 500,
  plugins: [
     'a11ychecker','advlist','advcode','advtable','autolink','checklist','export',
    'lists','link','image','charmap','preview','anchor','searchreplace','visualblocks',
    'powerpaste','fullscreen','formatpainter','insertdatetime','media','table','help','wordcount'
  ],
  toolbar:
   'undo redo | casechange blocks | bold italic backcolor | \
   alignleft aligncenter alignright alignjustify | \
   bullist numlist checklist outdent indent | removeformat | a11ycheck code table help'
}"
initialValue="Welcome to TinyMCE Angular"
></editor>


      <label for="" >Hình ảnh</label>
      <input class="form-control" type="text" formControlName="image" ><br>
      <label for="" >Facebook</label>
      <input class="form-control" type="text" formControlName="facebook" ><br>
      <label for="" >Intagram</label>
      <input class="form-control" type="text" formControlName="intagram" ><br>
      <label for="" >Github</label>
      <input class="form-control" type="text" formControlName="github" ><br>


      <button  type="submit" class="btn btn-primary mt-2">Tạo mới</button>

  </form>
</div>

</div>
