@import '../../assets/scss/style.scss';
.category {
    padding: $p0-4 $p-6;
    h3 {
        font-size: 18px;
    }
    .category__body {
        background-color: #F5F0F2;
        padding: 1rem;
        display: flex;
        margin-top: 1rem;
        align-items: center;
        justify-content: center;
        gap: 1rem;
      
        .category_item {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            .category_silder {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color:#fff;
                flex-wrap: wrap;
                padding: 1rem;
                img {
                    width: 146px;
                    height: 146px;
                    object-fit: contain;
                    border-radius: 50%;
                }
             
                span {
                    text-align: center;
                  font-weight: 400;
                }
            }
       
        }
    }

}
