<app-header></app-header>
<div class="detail" *ngFor="let item of productDetail">
   <div class="detail_img">
    <img [src]="item.image" alt="">
   </div>
   <div class="detail_body">
        <span>
            {{item.name}}
        </span>
        <div class="">
          <span>Số lượng</span>
          <input [(ngModel)]="amount"   name="amountName" id="" >
        </div>
       <div class="">
        <span class="price_sale">
            {{item.priceSale}} đ
        </span>
        <span class="price">
            {{item.price}} đ
        </span>
       </div>
       <div class="detail_btn">
            <div class="btn detail_cart">
                <button (click)="OnCart()" href=""> THÊM VÀO GIỎ HÀNG</button>
            </div>
            <div class="btn detail_start">
                <a (click)="OnCartStart()" href="">MUA NGAY</a>
            </div>
       </div>
       <div class="des" >
        <div [innerHTML]="item.description"></div>
       </div>
   </div>
</div>
<div class="products">
    <div class="" style="font-size:25px ; font-weight: 700;">Sản phẩm liên quan</div>
    <div class="product">


<a href="" *ngFor="let item of productAll" class="product__item">

    <img [src]="item.image" alt="">
    <span>{{item.name}}</span>
    <span>
       {{item.price}}

    </span>
    <span>{{item.priceSale}}</span>

</a>


</div>
<div class="center">
    <a href="">Xem Thêm</a>
</div>
<app-footer></app-footer>
