<app-header></app-header>
<div class="cart row">
 <div class="col-8">
  <table class="table ">
    <thead>
      <tr>
        <th scope="col">
          <input type="checkbox" name="" id="">
        </th>
        <th scope="col">CÔNG TY CỔ PHẦN THƯƠNG MẠI DỊCH VỤ PHONG VŨ
        </th>
        <th scope="col">Đơn giá</th>
        <th scope="col">Số lượng</th>
        <th scope="col">Thành tiền</th>
      </tr>
    </thead>
    <tbody>
      <tr class="">
        <th scope="row">
          <input type="checkbox" name="" id="">
        </th>
        <td class="d-flex left_cart align-items-center">
          <img width="80px" src="https://lh3.googleusercontent.com/ITuM-86ObB_Q_pELdb6s3xjIvvECtOl2IxJJ9_4RUSaYmzOMEprg8EOQ-VKdFOeI3SFNL-fpnFL7KQggDoo84bXE2WIB_cDe=rw" alt="">
          <p>Máy tính xách tay/ Laptop Acer Aspire 7 A715-42G-R05G (NH.QAYSV.007) (AMD Ryzen 5 5500U) (Đen)
            SKU: 211104709</p>
        </td>
        <td>
          <p>17.490.000đ</p>
          <p>20.000.000</p>
        </td>
        <td >

          <input style="width: 50px;" type="number"  name="" id="">

        </td>
        <td>
          17.490.000
        </td>
      </tr>

    </tbody>
  </table>
 </div>
 <div class="col-4 mt-3 ">
    <div class="right_cart">
      <span>Thanh toán</span>
      <div class="pay">
        <div class="pay_item">
          <span>Tổng tạm tính</span>
          <span>17.490.000</span>
        </div>
        <div class="pay_item">
          <span>Tổng tạm tính</span>
          <span>17.490.000</span>
        </div>
      </div>
    </div>
    <button class="btn_cart" >Thanh toán</button>
 </div>
</div>
<app-footer></app-footer>
