

<div class="sidebar">
    <h4>Quản lý bán giày</h4>
    <img src="https://i.pinimg.com/originals/6a/a3/df/6aa3dfc72c8d56437700f37282e33d83.gif" alt="">
   <ul class="sidebar_list">
    <li>
        <a  routerLink="/admin/san-pham/index">Sản phẩm</a>
    </li>
    <li>
        <a routerLink="/admin/danh-muc/index" >Danh mục</a>
    </li>
    <li>
        <a routerLink="/admin/gioi-thieu/index">Giới thiệu</a>
    </li>
    <li>
        <a routerLink="/admin/tin-tuc/index">Tin tức</a>
    </li>
   </ul>
   <div class="auth">
    <button (click)="Logout()" >
        Đăng xuất
    </button>
   </div>
</div>
