@import '../../assets/scss/style.scss';
.search {
  margin-top: 5rem;
}
.product {
  display: grid;
  gap: 1rem;
  grid-template-columns:
    repeat( 7, 1fr );
  max-width:100%;
  margin-top: 3rem;
    .product__item {

        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        text-align: center;
        img {
            width: 218px;
        }

        span:nth-child(3){
          display: block;
            color: red;
        }
        span:nth-child(4){
            text-decoration: line-through;
        }
    }
}
.products {
    padding: $p0-4 $p-6;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
   a {
    padding: 1rem 3rem;
    background: #1435C3;
    color: #fff;
    border-radius: 2px;
    border: 1px solid transparent;
   }
   :hover {
    background: #fff;
    color: #1435C3;
    border: 1px solid #1435C3;
    transition: all ease 0.3s;
}
}
.center_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
  a {
    padding: 0.5rem 1rem;
    background: #1435C3;
    color: #fff;
    border-radius: 2px;
    border: 1px solid transparent;
    border: 1px solid #000;
   }
   :hover {
    background: #fff;
    color: #1435C3;

   }
}
