<app-header>
</app-header>
<div class="products">
    <div class="">Sản phẩm  </div>
<div class="product" >
    <a routerLink="/san-pham/{{product.id}}" class="product__item" *ngFor="let product of products" >
     
        <img [src]="product.image" alt="">
        <span>{{product.name}}</span>
        <span>
            {{product.price}}

        </span>
        <span>{{product.priceSale}}</span>
    
</a>
 

</div>
<div class="center">
    <a href="">Xem Thêm</a>
</div>
<app-footer></app-footer>