@import '../../assets/scss/style.scss';


.product {
  display: flex;
  gap: 1rem;
   .product__item {

       box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
       text-align: center;
       img {
           width: 218px;
       }

       span:nth-child(3){
         display: block;
           color: red;
       }
       span:nth-child(4){
           text-decoration: line-through;
       }
   }
}
.products {
    padding: $p0-4 $p-6;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
   a {
    padding: 1rem 3rem;
    background: #fecd08;
    color: #000;
    border-radius: 2px;
    border: 1px solid transparent;
   }
   :hover {
    background: #fff;
    color: #fecd08;
    border: 1px solid #fecd08;
    transition: all ease 0.3s;
}
}
