@import '../../assets/scss/style.scss';

.products {
  border-top: 1px dotted #1435C3;
  margin: $p0-4 $p-6;
  padding-top: 2rem;
}
.product {
  display: grid;
  gap: 0.5rem;
  grid-template-columns:
    repeat( 7, 1fr );

  max-width:100%;
   .product__item {

       box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
       text-align: center;
       border: 1px solid #e6e6e6;
       img {
           width: 218px;
       }

       span:nth-child(3){
         display: block;
           color: red;
       }
       span:nth-child(4){
           text-decoration: line-through;
       }
   }
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
   a {
    padding: 1rem 3rem;
    background: #1435C3;
    color: #fff;
    border-radius: 2px;
    border: 1px solid transparent;
   }
   :hover {
    background: #fff;
    color: #1435C3;
    border: 1px solid #1435C3;
    transition: all ease 0.3s;
}
}
.home_title {

  color: #1435C3;
  text-align: center;
  display: flex;
  align-items: center;
  span {
   border:1px solid #1435C3 ;
    margin-bottom: 0.2rem;
    padding: 0.5rem;
    display: inline;
    margin-top: 0.2rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
